body{
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: 'Open Sans', sans-serif;
}
.custom-tooltip {
    --bs-tooltip-color: var(--bs-yellow);
}

  /* If the screen size is 767px wide or less, hide the element */
@media screen and (max-width: 767px) {
    .custom-hide{
      display: none;
    }
}

.imagen {
    width: 310px;
    height: 180px;
    margin: 0.2%
}
.card {
    width: 312px;
    height: 370px;
}

